*
{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

#container
{
    border: 10px solid black;
    width: 400px ;
    margin: 50px auto;
    border-radius:10px;
    background-color:grey;
}

h1
{
    background-color: rgb(0, 115, 255);
    color: whitesmoke;
    padding: 10px 5px;
    text-align: center;
}
ul
{
    list-style: none;
    
    flex-wrap: wrap;
    overflow-wrap:break-word ;


}
#inp
{
    width: 100%;
    font-size: 24px;
    box-sizing: border-box;
    padding: 10px 5px;

    background-color: antiquewhite;
    outline-style: none;

    
}
li{

    font-size: 20px;
    cursor: pointer;
    padding:10px;
    margin: 10px;
    box-shadow: 0px 0px 2px rgb(145, 135, 135);
    border-radius: 5px;
    background-color:  rgb(17, 253, 159);
}


.completed
{
    text-decoration: line-through;
    background-color:greenyellow;
    color: darkorchid;
}
.plus
{
    float: right;
    margin-right:10px;
    cursor: pointer;
    color: black;
}

span{
    color: red;
}
